body {
  background-color: white;
}

/*Styling for Main Header */

.heading {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
}

.heading h3 {
  color: MediumAquamarine;
}

.heading a {
  color: black;
}
